*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/*/build
/.idea/caches/
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/codeStyles/
/.idea/fileTemplates/includes/File Header.java
